body {
    font-family:"Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
h1, h2, h3, h4, h5, h6, p {
        margin-top: 0;
        margin-bottom: 0;
}
ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
}

.navigat {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.link-span {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:#2e2f42;
        margin-right: 76px;
}
.link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.navigat .link:hover {
    color:#404bbf
}
.navigate .link:focus {
    color:#404bbf
}
.nav-menu {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}
.nav-list-adress {
    display: flex;
    gap: 40px;
}
.nav-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.nav-class {
    font-style: normal;
}
.nav-adress {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.nav-adress:hover {
    color:#404bbf
}
.nav-adress:focus {
    color:#404bbf
}
.nav-link:hover {
color:#404bbf
}
.nav-link:focus {
color: #404bbf
}

.effective {
    background: #2e2f42;
}

.container-effective-container {
padding: 188px 472px 188px;
}
.effective-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin-bottom: 48px;
}
.effective-btm {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background: #4d5ae5;
        cursor: pointer;
        border-radius: 4px;
        padding: 16px 32px;
        border: none;
        display: block;
        margin: auto;
}
.effective .effective-btm:hover {
    background-color: #404BBF;
}
.effective .effective-btm:focus {
    background-color: #404BBF;
}
.page {
    padding-top: 120px;
    padding-bottom: 120px;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.class-list-futures {
    display: flex;
    padding: 0 18px;
    gap: 24px;
}

.futures-items {
    width: calc((100% - 3 * 24px) / 3);
}

.fut-subtit {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}
.fut-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}
.title-team {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.team-items {
    display: flex;
    gap: 24px;
}

.team-item {
    background-color:#FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    text-align: center;
}

.img-team {
    margin: 0 auto;
    margin-bottom: 32px;
}

.team-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
        
}
.team-desc {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding-bottom: 32px;
}
.portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
}
.portfolio-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
}

.items-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.item-portfolio {
        background-color: #FFFFFF;
        width: calc((100% - 3 * 24px) / 3);
}

.portfolio-div {
    border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
}



.portfolio-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}
.portfolio-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}


.footer-logo {
    background: #2e2f42;
}

.container .footer {
    padding-top: 100px;
    padding-left: 156px;
    padding-bottom: 100px;
    height: 312px;
}

.logo-span {
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
        margin-bottom: 16px;
}





.link-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:#4d5ae5;
}
.logo-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding-top: 16px;
        max-width: 264px;
}








